/* Basic style */

html, body {
    margin: 0; 
    padding: 0; 
    font-family: Oswald; 
    background: #ddd;
    color: white;}

header, section, footer {
    float: left; 
    width: 100%;}

header {
    text-align: center;
    background: #fff6a8;
    padding-bottom: 20px;}
header h1 {
    font-size: 3em; 
    margin-bottom: 5px;}
header h2 {margin: 0;}
nav {
    float: left; 
    width: 100%;
    background: black;}
nav > a {float: left; 
    padding: 25px 25px 25px 25px;
    text-transform: uppercase; 
    text-decoration: none;
    font-variant: small-caps;
    background: black;
    color: white;
    font-size: 1.5em;}
section { 
    text-align: center;}

footer {
    text-align: center;
    background: black;}
footer p {margin-top: 0;}
footer h2 {margin-bottom: 5px;}

 /* Button */
.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: oswald;
    font-variant: small-caps;
    text-transform: uppercase;
    border: 3px solid;
    font-size: 1.5em;
    padding: 10px 60px;
    margin: 5px 10px;}

.buttonPositive {
    color:#40a000;
    border-color:#40a000;}
.buttonPositive:hover {
    color: #ddd;
    background: #40a000;}
.buttonNegative {
    color:#a00101;
    border-color:#a00101;}
.buttonNegative:hover {
    color: #ddd;
    background: #a00101;}
/* Custom select */
.customSelect {
    padding: 0; margin: 0;
    background: url(img/icon1.png) no-repeat center;
    background-position: 90%;}
.customSelect > select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; width: 100%;
    font-family: oswald;
    font-variant: small-caps;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 10px 10%;
    background: none;
    border: 3px solid black;}
/* Advanced */
section .row:first-child img {width: 50%;}
.filtered {
    border-spacing: 0px 5px;
    width: 100%;
    color: black;}
.filtered tr {border-bottom: 1px solid black;}
.filtered td {padding: 5px 5px;}
.filtered a {
    background: #307fff;
    float: left;
    width: 100%; height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    font-variant: small-caps;
    color: white;}
.filtered a:hover {background: #2376fc;}