/* Basic style */
.emergencyAlert {
    color:#a00101;
}
html, body {
    margin: 0; 
    padding: 0; 
    font-family: Oswald; 
    background: black;
    color: white;}

header, section, footer {
    float: left; 
    width: 100%;}

header {
    text-align: center;
    background: #fff6a8;
    padding-bottom: 20px;}
header h1 {
    font-size: 3em; 
    margin-bottom: 5px;}
header h2 {margin: 0;}
nav {
    float: left; 
    width: 100%;
    background: black;}
nav > a {float: left; 
    padding: 25px 25px 25px 25px;
    text-transform: uppercase; 
    text-decoration: none;
    font-variant: small-caps;
    background: black;
    color: white;
    font-size: 1.5em;}
section { 
    text-align: center;
    background: #eee;}

footer {
    text-align: center;
    background: black;}
footer p {margin-top: 0;}
footer h2 {margin-bottom: 5px;}

 /* Button */
.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: oswald;
    font-variant: small-caps;
    text-transform: uppercase;
    border: 3px solid;
    font-size: 1.5em;
    padding: 10px 60px;
    margin: 5px 10px;
    background: #eee;}

.buttonPositive {
    color:#40a000;
    border-color:#40a000;}
.buttonPositive:hover {
    color: #ddd;
    background: #40a000;}
.buttonNegative {
    color:#a00101;
    border-color:#a00101;}
.buttonNegative:hover {
    color: #ddd;
    background: #a00101;}
/* Custom select */
.customSelect {
    padding: 0; margin: 0;
    background: url(img/icon1.png) no-repeat center;
    background-position: 90%;}
.customSelect > select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; width: 100%;
    font-family: oswald;
    font-variant: small-caps;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 10px 10%;
    background: none;
    border: 3px solid black;}
/* Advanced */
section .row:first-child img {width: 50%;}
.filtered {
    font-size: 1.5em;
    border-spacing: 0px 5px;
    width: 100%;
    color: black;}
.filtered tr {border-bottom: 1px solid black;}
.filtered tr td:nth-last-of-type(2) {}
.filtered td {padding: 5px 5px;}
.filtered a {
    background: #307fff;
    float: left;
    width: 100%; height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    font-variant: small-caps;
    color: white;}
.filtered a:hover {background: #2376fc;}
/* myRecipe */
.myRecipe {
    color: black;
    text-align: left;}
.myRecipe .recipeTitle {
    color: #c90000; 
    font-size: 2em;
    text-align: center;
    margin-bottom: 0px;}
.myRecipe .recipeSubtitle {
    color: #c90000; 
    font-size: 1em;
    text-align: center;
    margin-top: 0px;}
.myRecipe h3 {margin-bottom: 0; margin-top: 0; text-align: center;}
.difficultyMeter {
    width: 100%; height: 20px;
    border: 2px solid #222;
    border-radius: 3px;
    background: #444;}
.difficultyMeter > div {
    width: 0%; height: 100%;
    background: #40a000;}
.myRecipe h2 {1.5em;}
.myRecipe p {color: #444;}
.myRecipe .advices {
    margin: 0px;
    text-align: right;
    color: #c90000; }
.myRecipe table {width: 100%; font-size: 0.8em; text-align: right;}
.print div {text-align: center;}
.print > div > a {
    display: block; width: 50%;
    margin: 10px auto 20px auto;
    font-size: 1.5em;
    background: #307fff;
    text-transform: uppercase;
    text-decoration: none;
    font-variant: small-caps;
    color: white;
    padding: 5px 40px;}
.print > div > a:hover {background: #2376fc;}
.print img {
    
    width: 50%;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    transition: 0.2s linear;}
.print img:hover {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}